<!doctype html>
<html>
<head>
  <title>getRandomDate.com</title>
  <link rel="stylesheet" href="/vendor/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- body -%>
</body>
</html>
